apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ secret_name_base }}-secret
  namespace: {{ secret_namespace }}
spec:
  hostAPI: {{ infisical_host_api }}

  authentication:
    universalAuth:
      secretsScope:
        projectSlug: {{ project_slug }}
        envSlug: {{ env_slug }}
        secretsPath: "{{ secrets_path }}"
      credentialsRef:
        secretName: {{ universal_auth_secret_name }}
        secretNamespace: {{ universal_auth_secret_namespace }}

  managedSecretReference:
    secretName: managed-{{ secret_name_base }}-secret
    secretNamespace: {{ secret_namespace }}
    creationPolicy: "Orphan"
